    <div class="container" >

      <!-- <div ng-repeat="album in albumsShowCtrl.albums | orderBy: 'name'" class="row"> -->

        <div class="col-md-10 col-md-offset-1">
          <div class="panel panel-default">
            <div class="panel-body">

            
              <div class="row">
<!--                 <div class="col-md-3 col-xs-12 thumbnail">
                  <img src="/images/800x800.png" alt="album image">
                </div> -->

                <div class="col-md-9 col-xs-12">
                  <ul class="list-group form-inline">
                    <li class="list-group-item">
                      <h4 class="inline-header">Album Name:</h4>
                      <span ng-hide="editing">{{albumsShowCtrl.album.name}}</a></span>
                      <!-- <input ng-show="editing" ng-model="albumsShowCtrl.album.name" type="text" class="form-control input-md"> -->
                    </li>

                    <li class="list-group-item">
                      <h4 class="inline-header">Artist Name:</h4>
                      <span ng-hide="editing">{{albumsShowCtrl.album.artistName}}</span>
                     <!--  <input ng-show="editing" ng-model="albumsShowCtrl.album.artistName" type="text" class="form-control input-md"> -->
                    </li>

                     <li class="list-group-item">
                      <h4 class="inline-header">Release Date:</h4>
                      <span ng-hide="editing">{{albumsShowCtrl.album.releaseDate}}</span>
                      <!-- <input ng-show="editing" ng-model="albumsShowCtrl.album.releaseDate" type="text" class="form-control input-md"> -->
                    </li>
                    
                    <li class="list-group-item">
                      <h4 class="inline-header">Genres</h4>
                      <span ng-hide="editing">|</span><span ng-hide="editing" ng-repeat='genre in albumsShowCtrl.album.genres'> {{genre}} |</span>
                      <!-- <input ng-show="editing" ng-model="albumsShowCtrl.album.genres" type="text" class="form-control input-md"> -->
                    </li>

                    <li class="list-group-item">
                      <ul>
                        <li ng-repeat='song in albumsShowCtrl.album.songs'>{{song.trackNumber}}: {{song.name}}</li>
                      </ul>
                    </li>

                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>